- name: Append Zabbix Server IP if not exists
  hosts: all
  become: yes

  vars:
    new_zabbix_ip: 10.10.10.12

  handlers:
    - name: restart zabbix-agent
      service:
        name: zabbix-agent
        state: restarted

  tasks:

    - name: Get current Server value
      shell: grep '^Server=' /etc/zabbix/zabbix_agentd.conf | cut -d= -f2
      register: current_server

    - name: Update Server parameter (append if missing)
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^Server='
        line: "{{ new_zabbix_ip | unique | join(',') }}"
      notify: restart zabbix-agent