- name: Append Zabbix Server IP on Agent
  hosts: all
  become: yes

  vars:
    new_zabbix_ip: "10.10.10.12"

  handlers:
    - name: restart zabbix-agent
      service:
        name: zabbix-agent
        state: restarted

  tasks:

    - name: Read current config
      slurp:
        path: /etc/zabbix/zabbix_agentd.conf
      register: zabbix_conf

    - name: Extract current Server value
      set_fact:
        current_server: >-
          {{
            (zabbix_conf.content | b64decode |
             regex_search('^Server=(.*)', '\\1', multiline=True))
            | default('')
          }}

    - name: Build new Server list
      set_fact:
        updated_server: >-
          {{
            (
              (current_server.split(',') if current_server != '' else [])
              + [new_zabbix_ip]
            )
            | unique
            | join(',')
          }}

    - name: Update Server parameter
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^Server='
        line: "Server={{ updated_server }}"
      notify: restart zabbix-agent