- name: Append Zabbix Server IP on Agent
  hosts: all
  become: yes

  vars:
    new_zabbix_ip: "10.10.10.13"

  handlers:
    - name: restart zabbix-agent
      service:
        name: zabbix-agent
        state: restarted

  tasks:

    - name: Get current Server value
      shell: awk -F= '/^\s*Server\s*=/ {print $2}' /etc/zabbix/zabbix_agentd.conf
      register: current_server
      changed_when: false

    - name: Build updated Server list
      set_fact:
        updated_server: >-
          {{
            (
              (current_server.stdout.split(',') if current_server.stdout != '' else [])
              + [new_zabbix_ip]
            )
            | map('trim')
            | unique
            | join(',')
          }}

    - name: Update Server parameter
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^\s*Server\s*='
        line: "Server={{ updated_server }}"
        insertafter: EOF
      notify: restart zabbix-agent
