- name: Set Zabbix Server IP on Agent
  hosts: all
  become: yes

  vars:
    zabbix_server_ip: 10.10.10.5

  handlers:
    - name: restart zabbix-agent
      service:
        name: zabbix-agent
        state: restarted

  tasks:

    - name: Update Server parameter
      lineinfile:
        path: /etc/zabbix/zabbix_agentd.conf
        regexp: '^Server='
        line: "Server={{ zabbix_server_ip }}"
        backrefs: no
      notify: restart zabbix-agent